version: '3.9'
services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: inkrockit
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data
  api:
    build:
      context: .
      dockerfile: infra/Dockerfile.api
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/inkrockit
      PORT: 4000
    ports:
      - '4000:4000'
    depends_on:
      - db
  web:
    build:
      context: .
      dockerfile: infra/Dockerfile.web
    environment:
      NEXT_PUBLIC_API_BASE_URL: http://api:4000
    ports:
      - '3000:3000'
    depends_on:
      - api
volumes:
  pgdata:
