@font-face {
    font-family: CreightonProBook;
    src: local("CreightonProBook"),
        url(/css/font/CreightonProBook.otf);
}
@font-face {
    font-family: CreightonProMedium;
    src: local("CreightonProMedium"),
        url(/css/font/CreightonProMedium.otf);
}
@font-face {
    font-family: HelveticaNeue-BoldCond;
    src: local("HelveticaNeue-BoldCond"),
        url(/css/font/HelveticaNeue-BoldCond.otf);
}
@font-face {
    font-family: HelveticaNeue-BoldExt;
    src: local("HelveticaNeue-BoldExt"),
        url(/css/font/HelveticaNeue-BoldExt.otf);
}


.f16{font-size: 16px;}
.f18{font-size: 18px;}
.f20{font-size: 20px;}
.f22{font-size: 22px;}
.f24{font-size: 24px;}
.f25{font-size: 25px;}
.f26{font-size: 26px;}
.f27{font-size: 27px;}
.f38{font-size: 38px;}
.marg_b20{
    margin-bottom: 20px;
}
.font_creighton{font-family: CreightonProMedium;}
.color_pink{color: #F2008F}
.marg_b5{margin-bottom: 5px}

.pages{
    width: 1002px;
    min-height: 400px;
    background: #ffffff;
    border-radius: 10px;
    margin: 0 0 0 15px;
    margin-top: -4px;
}
.title_design_page{
    margin-top: 26px;
    float: left;
    margin-left: 16px;
}

.logo_design{
    font-family: arial;
    font-weight: bold;
    color: #ff8400;
    font-size: 90px;
    float: left;
}
.block_slogo_design_it{
    float: right;
    width: 428px;
    border-left: 1px solid #7d7d7d;
    padding-left: 19px;
    height: 62px;
    margin-top: 19px;
    margin-left: 19px;
}
.slogo_design_it{
    font-family: arial;
    font-weight: bold;
    color: #666666;
    font-size: 24px;
    margin-top: 5px;
}

.left_block_design{
    margin-top: 29px;
    width: 303px;
    min-height: 350px;
    float: left;
    margin-left: 22px;
    position: relative;
}
.text_design_right{
    font-family: arial;
    font-size: 14px;
    color: #000000;
    line-height: 18px;
    text-align: left;
    border-bottom: 1px dotted #666;
    padding-bottom: 16px;
}
.text_bold{
    font-weight: bold;
}
.text_normal_design{
    font-family: arial;
    font-size: 14px;
    color: #000000;
    line-height: 17px;
    text-align: left; 
    margin-top: 15px;
}
.bottom_design{
    width: 283px;
    height: 26px;
    color: #ffffff;
    font-family: arial;
    font-weight: bold;
    font-size: 14px;
    background: #3c3c3c;
    border-radius: 6px;
    text-align: left;
    line-height: 26px;
    cursor: pointer;
    margin-left: 4px;
    margin-top: 18px;
    z-index: 10000; 
}
.cuurent_bottom_design{
    background: #000000;
    box-shadow: 0px 1px 1px 2px rgba(33,32,31, 0.2);
}
.bottom_design:hover{
    background: #000000;
    box-shadow: 0px 1px 1px 2px rgba(33,32,31, 0.2);
}
.block_listing{
    width: 200px;
    height: 279px;
    border: 8px solid #000000;
    border-radius: 10px;
    background: #3c3c3c;
    box-shadow: 1px 1px 1px 2px rgba(33,32,31, 0.2);
    position: absolute;
    left: 295px;
    z-index: 1000;
    top: 195px;
}
.arrow_left{
    background: url('/images/arrow_left_block.png');
    width: 7px;
    position: absolute;
    top: 131px;
    left: -15px;
    height: 13px;
}
.menu_design_block{
    margin: auto;
    padding: 0;
    margin-left: 18px;
    margin-top: 9px;
}
.menu_design_block li{
    list-style: none;
    position: relative;
    padding-bottom: 5px;
}
.menu_design_block li a{
    text-decoration: none;
    color: #ffffff;
    font-family: arial;
    font-size: 12px;
}
.pimpochka{
    position: absolute;
    top: 7px;
    left: -8px;
}
.hide{
    display: none;
}

/*ROTATOR*/
.rotatormainbuttondesign {
    float: left;
    margin-left: 163px;
    bottom: 2px;
    width: 518px;
    position: absolute;
}

.right_block_design {
    width:518px;
    height:399px;
    position: relative;
    float: right;
    margin-right: 87px;
    margin-top: 47px;
}
.right_block_design >div{
    opacity: 0;
    z-index: 0;
}
.right_block_design >div:first-child{
    opacity: 1;
    z-index: 2;
}
.foursDesign {
    z-index:5;
    position:absolute;
    width:518px;
    height:379px;
}
.rotatordesign.checked{
    background-color: rgb(0, 145, 237);
}
.rotatordesign{
    width:12px;
    height:12px;
    float:left;
    border-radius: 50%;
    background: #cccccc;
    cursor:pointer;
    margin-right: 8px;
}

.bottom_block_content{
    width: 957px;
    min-height: 422px;
    border-radius: 9px;
    border: 1px solid #cccccc;
    background: url('/images/pepsiBg.png') repeat-x scroll 0 0 #FFFFFF;
    margin-top: 21px;
    margin-left: 22px;
}
.text_bottom_block{
    width: 604px;
    margin-top: 22px;
    margin-left: 145px;
    float: left;
    line-height: 18px;
    text-align: center;
    font-family: arial;
    font-size: 14px;
    color: #000;

}

.block_min_footer_design_it{
    /*margin-bottom: 16px;*/
}

.gol_block_text_bottom_block{
    width: 898px;
    margin-left: 28px;
    border-bottom: 1px solid #afafaf;
    padding-bottom: 16px;
    float: left;
}
.title_text_bottom{
    /*color: #00286b;*/
    font-weight: bold;
    font-size: 18px;
    margin-top: 2px;
}
.left_block_bottom{
    width: 450px;
    height: 288px;
    border: 1px solid #cccccc;
    border-radius: 9px;
    float: left;
    margin-top: 20px;
    margin-left: 13px;
    background: url('/images/pepsiBg.png') repeat-x scroll 0 0 #FFFFFF;
}
.right_block_bottom{
    width: 450px;
    height: 288px;
    border: 1px solid #cccccc;
    border-radius: 9px;
    float: right;
    margin-top: 20px;
    margin-right: 13px;
    background: url('/images/pepsiBg.png') repeat-x scroll 0 0 #FFFFFF;
}
.title_left_block{
    background: url('/images/hands-on.png');
    width: 282px;
    height: 39px;   
    margin-left: 16px;
    margin-top: 20px;
}

.title_right_block{
    background: url('/images/design.png');
    width: 225px;
    height: 39px;  
    margin-left: 15px;
    margin-top: 20px;
}
.text_left_block{
    margin-left: 15px;
    font-family: arial;
    font-size: 14px;
    color: #333333;
    margin-top: 4px;
    width: 411px;
}


.list_direct_design_left{
    margin: auto;
    padding: 0;
    margin-top: 17px;
    margin-left: 16px;
    float: left;
}

.list_direct_design_left li{
    list-style: none;
    padding-bottom: 10px;
    font-size: 14px;
    color: #000;
    line-height: 12px;
}

.list_direct_design_right{
    margin: auto;
    padding: 0;
    margin-top: 17px;
    margin-left: 40px;
    float: left;
}

.list_direct_design_right li{
    list-style: none;
    padding-bottom: 10px;
    font-size: 14px;
    color: #000;
    line-height: 11px;
}

.left_block_content_info_dasign_page{
    width: 447px;
    min-height: 250px;
    border-right: 1px dotted #666666;
    float: left;
    margin-top: 10px;
    margin-left: 15px;
}
.right_block_content_info_dasign_page{
    width: 447px;
    min-height: 250px;
    float: left;
    margin-top: 10px;
    margin-left: 30px;
}
