.left_block_print_it_home{
    float: left;
    width: 596px;
    min-height: 400px;
    margin-left: 4px;
}

.title_left_block_print_it_home{
    width: 559px;
    height: 41px;
    background: url('/images/print_it/title_print_it.png');
    float: right;
    margin-top: 22px;
}

.baner_print_it_home{
    float: left;
    margin-left: 45px;
    margin-top: 52px;
}

.print_info_home{
    width: 287px;
    margin-right: 0px;
    margin-left: 3px;
    color: #000;
}
.print_info_home_list ul{
    width: 300px;
    margin-left: 15px;
    color: #000;
}
.print_info_home_list ul li{
    line-height: 22px;
    list-style: none;
}
.print_info_home_list ul li:last-child{
    margin-top: 3px;
}

.print_info_home_list #designImg{
    background: #222;
    width: 4px;
    height: 4px;
    float: left;
    margin-top: 9px;
    margin-right: 6px;
}

.right_menu_from_produckt_prin_it{
    background:url('/images/RightMenuBg.png') repeat-x scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
    float: right;
    padding-bottom: 14px;
    width: 324px;
    margin-top: 7px;
    margin-bottom: 5px;
}

.title_right_block_produckt_print{
    width: 291px;
    height: 49px;
    background: url('/images/print_it/title_prod_print_it.png');
    float: left;
    margin-left: 16px;
    margin-top: 17px;
}

.slogan_right_block_print_it_home{
    width: 291px;
    float: left;
    color: #000;
    font-size: 12px;
    margin-left: 16px;
    margin-top: 10px;
    line-height: 15px;
}

.one_product_print_it{
    float: left;
    width: 314px;
}
.title_prod_remove{
    width: 284px;
    background: url("/images/DownloadButtonTextBg.png") repeat-x scroll 0 0 #353535;
    border-radius: 0 8px 8px 0px; 
    height: 27px;
    float: left;
    margin-left: 1px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}

.title_prod_remove_no_active{
    width: 284px;
    background: url("/images/DownloadButtonTextBg.png") repeat-x scroll 0 0 #353535;
    border-radius: 0 8px 8px 0px; 
    height: 27px;
    float: left;
    margin-left: 1px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}
.clicked_prod{
    background: url("/images/customPrintSelectBg.png") repeat scroll 0 0 transparent;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 0px;
    color: #ffc000;
}

.plus_product{
    cursor: pointer;
}

.view_prodyct_detail_action{
    float: left;
    width: 311px;
    margin-top: -2px;
    min-height: 100px;
    background: #2e2e2e;
    padding-bottom: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: none;
    margin-bottom: 4px;
}

.block_action_produckt{
    float: left;
    margin-top: 9px;
    margin-left: 5px;
}

.action_produckt{
    width: 301px;
    height: 22px;
    border-radius: 5px;
    background: #666666;
    float: left;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

.quantity_value{
    font-size: 12px;
    color: #c0f1ff;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}
.panel{
    font-size: 12px;
    color: #c0f1ff;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}

.title_next_section{
    width: 291px;
    float: left;
    color: #ffc000;
    font-weight: bold;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
}
.title_next_section_value{
    font-size: 12px;
    color: #fff;
    font-weight: normal;
}

.block_order_today_item{
    float: left;
    width: 82px;
    min-height: 100px;
    font-size: 11px;
    color: #fff;
    margin-top: 55px;
    margin-left: 5px;
}
.block_pricing_sypping{
    float: right;
    width: 194px;
    margin-top: 10px
}
.title_pricing_sypping{
    color: #ffc000;
    font-weight: bold;
    font-size: 12px;
    float: left;
}
.total_cost{
    width: 105px;
    min-height: 22px;
    background: #ff8400;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid #2e2e2e;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 2px;
}
.total_cost_value{
    width: 88px;
    min-height: 22px;
    background: #ff8400;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    font-weight: normal;
    font-size: 12px;
}
.subtotal{
    width: 105px;
    min-height: 22px;
    background: #666;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid #2e2e2e;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 2px;
}
.subtotal_value{
    width: 88px;
    min-height: 22px;
    background: #666;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    font-weight: normal;
    font-size: 12px;
}

.shipping_value{
    width: 88px;
    min-height: 39px;
    background: #666;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #c0f1ff;
    font-weight: normal;
    font-size: 12px;
}

.shipping{
    width: 105px;
    min-height: 39px;
    background: #666;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid #2e2e2e;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 2px;
}

a.next_product{
    width: 128px;
    display: block;
    background: url('/images/print_it/next_product.png');
    height: 35px;
    background-position: top;
    float: right;
    margin-top: 18px;
    margin-right: 19px;
}

a.next_product:hover{
    background-position: bottom;
}

.block_order_print_it_prduct{
    float: right;
    margin-right: 8px;
    margin-top: 20px;
}
.order_totla_product{
    min-width: 144px;
    height: 36px;
    padding-right: 10px;
    background: #7d7d7d;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    line-height: 35px;
    margin-top: 3px;
    float: left;    
}
.price_all_product_print_home{
    min-width: 140px;
    padding-left: 15px;
    height: 36px;
    background: #ff8400;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    float: right;
    margin-top: 3px;
    line-height: 35px;
    margin-left: 2px;
}

.bottom_cart_checkout{
    float: left;
    width: 274px;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 6px;
}
.add_to_cart{
    width: 128px;
    height: 35px;
    background: url('/images/print_it/add_to_cat.png');
    background-position: top;
    float: left;
    border: none;
}

.add_to_cart:hover{
    background-position: bottom;
}

.checkout{
    width: 128px;
    height: 35px;
    background: url('/images/print_it/checkout.png');
    background-position: top;
    float: right;
    border: none;
}

.checkout:hover{
    background-position: bottom;
}

.block_style {
    background: #000;
    border-radius: 10px;
    box-shadow: 3px 3px 6px 1px rgba(0,0,0,.4);
    min-height: 365px;
    left: -512px;
    position: absolute;
    top: -105px;
    width: 500px;
    display:none;
    z-index: 10;
}
.styleArrow_print_it {
    position:absolute;
    top: 110px;
    left: 500px;
    width:1px;
    height:0px;
    margin:0;
    padding:0;
    border-right: 6px solid transparent ;
    border-left:6px solid #000;
    border-top:6px solid transparent;
    border-bottom:6px solid transparent;
}
.coatingImg {
    float: left;
    margin: 15px 16px;
}

.arrow_right_print_home_product{
    position: absolute;
    width: 7px;
    height: 13px;
    background: url('/images/print_it/arrow_right.png');
    right: -7px;
    top: 110px;
}
.panel_size_style{
    width: 484px;
    min-height: 155px;
    background: #3c3c3c;
    border-radius: 5px;
    float: left;
    margin-left: 8px;
    margin-top: 7px;
}

.title_panel_size_style{
    color: #ffc000;
    font-size: 16px;
    font-weight: bold;
    float: left;
    margin-left: 10px;
    margin-top: 12px;
}

/*.onle_list{
    width: 65px;
    float: left;
    margin: auto;
    text-align: center;
    font-size: 12px;
    color: #fff;
}*/
.select_size_table td{
    vertical-align: bottom;
    width: 70px;
    text-align: center;
    font-size: 12px;
    color: #fff;
}

.select_panel_table td{
    vertical-align: bottom;
    width: 100px;
    text-align: center;
    font-size: 12px;
    color: #fff;
}
.firefox_last_list{
    margin-left: 30px;
}

.active_hover{
    cursor: pointer;
}

.coatingArrow_print_it {
    position:absolute;
    top: 280px;
    left: 448px;
    width:1px;
    height:0px;
    margin:0;
    padding:0;
    border-right: 6px solid transparent ;
    border-left:6px solid #000;
    border-top:6px solid transparent;
    border-bottom:6px solid transparent;
}

.block_coating {
    background: #000;
    border-radius: 10px;
    box-shadow: 3px 3px 6px 1px rgba(0,0,0,.4);
    padding-bottom: 7px;
    left: -460px;
    position: absolute;
    color: #fff;
    font-size: 12px;
    top: -274px;
    width: 448px;
    display:none;
    z-index: 10;
}

.coating_block_content{
    width: 212px;
    background: #3c3c3c;
    border-radius: 5px;
    margin-top: 8px;
    margin-left: 8px;
    padding-bottom: 5px;
    position: relative;
}

.line_coanting{
    width: 8px;
    border-radius: 5px;
    background: #000;
}
.coating_block_content_right{
    width: 212px;
    background: #3c3c3c;
    border-radius: 5px;
    margin-top: 8px;
    margin-left: 8px;
}

.title_coating_content{
    color: #ffc000;
    font-weight: bold;
    font-size: 16px;
}

.text_coating{
    color: #fff;
    font-size: 12px;
    width: 197px;
    line-height: 15px;
    border-bottom: 1px solid #afafaf;
    padding-bottom: 10px;
}

.option_coanings{
    float: left;
    color: #fff;
    font-size: 12px;
}
.option_coanings li{
    list-style: none;
    padding-bottom: 5px;
}

.option_coanings li input{
    padding-bottom: 10px;
}

.option_value{
    color: #ffc000;
    font-weight: bold;
}

.bock_special_offer{
    width: 432px;
    height: 55px;
    background: #ff8400;
    border-radius: 5px;
    color: #000;
    font-size: 16px;
}
.bock_special_offer_custom{
    background: #ff8400;
    border-radius: 5px;
    color: #000;
    font-size: 16px;
    min-height: 34px;
    width: 652px;
}

.block_custom {
    background: #000;
    border-radius: 10px;
    box-shadow: 3px 3px 6px 1px rgba(0,0,0,.4);
    padding-bottom: 7px;
    left: -680px;
    position: absolute;
    color: #fff;
    font-size: 12px;
    top: -230px;
    width: 668px;
    display:none;
    z-index: 10;
}
.customArrow_print_it {
    position:absolute;
    top: 235px;
    left: 668px;
    width:1px;
    height:0px;
    margin:0;
    padding:0;
    border-right: 6px solid transparent ;
    border-left:6px solid #000;
    border-top:6px solid transparent;
    border-bottom:6px solid transparent;
}

.border_top_left_print{
    position: absolute;
    top: 0;
    left: 0;
    background: url('/images/print_it/border_print_it_home.png');
    width: 4px;
    height: 4px;
    background-position: left top;
}

.border_top_right_print{
    position: absolute;
    top: 0;
    right: 0;
    background: url('/images/print_it/border_print_it_home.png');
    width: 4px;
    height: 4px;
    background-position: right top;
}

.border_bottom_right_print{
    position: absolute;
    bottom: 0;
    right: 0;
    background: url('/images/print_it/border_print_it_home.png');
    width: 4px;
    height: 4px;
    background-position: right bottom;
}

.border_bottom_left_print{
    position: absolute;
    bottom: 0;
    left: 0;
    background: url('/images/print_it/border_print_it_home.png');
    width: 4px;
    height: 4px;
    background-position: left bottom;
}














.border_top_left_checkout{
    position: absolute;
    top: 0;
    left: 0;
    background: url('/images/print_it/border_checkout.png');
    width: 4px;
    height: 4px;
    background-position: left top;
}

.border_top_right_checkout{
    position: absolute;
    top: 0;
    right: 0;
    background: url('/images/print_it/border_checkout.png');
    width: 4px;
    height: 4px;
    background-position: right top;
}

.border_bottom_right_checkout{
    position: absolute;
    bottom: 4px;
    right: 0;
    background: url('/images/print_it/border_checkout.png');
    width: 4px;
    height: 4px;
    background-position: right bottom;
}

.border_bottom_left_checkout{
    position: absolute;
    bottom: 4px;
    left: 0;
    background: url('/images/print_it/border_checkout.png');
    width: 4px;
    height: 4px;
    background-position: left bottom;
}