.box_sample_pack{
    width: 666px;
    min-height: 653px;
    background: #ffffff;
    position: absolute;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    z-index: 2000;
    top: 56px;
    left: 335px;
    display: none;
    box-shadow: 3px 3px 10px 0px #666666;
    padding-bottom: 10px;
}

.content_sample_pack{
    width: 636px;
    background: #ebebeb;
    margin-top: 2px;
    margin-left: 10px;
    float: left;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    min-height: 596px;
    padding-left: 10px;
    padding-bottom: 13px;
}
.title_box_sample_pack{
    width: 636px;
    height: 32px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background: #ff8400;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    line-height: 33px;
    padding-left: 10px;
}


.block_top_sample_pack{
    width: 616px;
    float: left;
    border-bottom: 1px dotted #666;
    padding-bottom: 4px;
    margin-left: 4px;
}

.title_see_sample_pack{
    width: 291px;
    height: 71px;
    float: left;
    background: url('/images/sample_pack/sample_pack_logo.png');
    margin-top: 5px;
}
.block_title_see_sample_pack{
    width: 307px;
    border-bottom: 1px dotted #666;
    float: left;
    padding-bottom: 13px;
}

.left_block_sample_pack{
    width: 323px;
    float: left;
    border-right: 1px solid #afafaf;
    margin-top: 12px;
    padding-bottom: 27px;
}

.text_sample_pack{
    line-height: 17px;
    color: #000;
}
.bottom_block_sample_pack{
    width: 613px;
    float: left;
    margin-left: 5px;
    margin-top: 10px;
    font-size: 12px;
    color: #000;
}

a.link_text{
    color: #0061c5;
    font-size: 12px;
    cursor: pointer;
    text-decoration: underline;
}
a.link_text:hover{
    color: #5faa00;
}


.right_block_sample_pack{
    width: 283px;
}

.form_adress_sample_pack{
    margin-top: 21px;
    font-size: 12px;
    color: #000000;
    float: right;
}
.block_apply_cancel_sample_pack{
    float: right;
    width: 274px;
    margin-top: 14px;
    padding-bottom: 13px;
    text-align: right;
}

a.cancel_buttom_sample_pack{
    display: block;
    float: left;
    color: #0061c5;
    font-size: 14px;   
    margin-top: 6px;
    margin-left: 130px;
    cursor: pointer;
    text-decoration: underline;
}
a.cancel_buttom_sample_pack:hover{
    color: #5faa00;
}

.Submit_Button {
    background: url("/images/buttonBg.png") repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: 3px 0 0 0px;
    padding: 4px 16px;
    z-index: 10;
}
.Submit_Button:hover{
    background: url("/images/buttonBgSel.png") repeat scroll 0 0 transparent;
}