/*.perfect_pixsel{
    position: absolute;
    background: url(/images/perfect_pixsel/desingit.png);
    width: 1034px;
    height: 926px;
    opacity: 0;
    top: 0;
    left: 90px;
    cursor: pointer;
    z-index: 1000000;
}*/
.thirdText {
    float:left;
    font-family: arial;
    font-size: 12px;
    margin: 13px 0 0 21px;
    width: 350px
}
.perfect_pixsel:hover{
    opacity: 0.5;
}

.arrow_hover_fitst{
    background-image: url('/images/arrow_hover_bottom_hover.png');
    width: 10px;
    height: 12px;
    float: left;
    left: 156px;
    display: none;
    top: 12px;
    position: absolute;
}
.arrow_hover_second{
    background-image: url('/images/arrow_hover_bottom_hover.png');
    width: 10px;
    height: 12px;
    float: left;
    left: 135px;
    display: none;
    top: 12px;
    position: absolute;
}
.arrow_hover_third{
    background-image: url('/images/arrow_hover_bottom_hover.png');
    width: 10px;
    height: 12px;
    float: left;
    left: 120px;
    display: none;
    top: 12px;
    position: absolute;
}
.headitemname {
    margin-left:1px;
    margin-bottom:1px;
}
.headitemtext {
    line-height: 14px;
}
.headitemtext2 {
    line-height: 14px;
}
.headbutton {
    margin-top: 6px;
    padding: 3px 9px 5px 8px;
}

.ContentNav > a {
    text-decoration: none;
}
#imgRel > img {
    margin:0 auto;
    padding:4px;
    float:none;
    border:2px solid  #ffffff;
}
.NewmainContent {
    margin: 7px 16px 0;    
}
#LinkNav5 {
    width:167px;
    word-spacing: 1px;
}
END SPINER

#carousel_ul {
    list-style-type: none;  removing the default styling for unordered list items 
}
MAIN PAGE 
.mainPage {
    margin: 14px 17px 0 15px;
}
.mainTitle {
    margin: 19px 0 0 23px;
}
.MainButton {
    margin: 22px 0 0 21px;
    padding: 2px 13px;
    z-index: 10;
}
.sec1Img{
    right: 34px;
    position: absolute;
    top: 72px;
    z-index: -1;
}
.mainRightMenu {
    padding-bottom: 15px;
}
.custom {
    margin: 19px 0 0 16px;
}
.customerImage{
    margin: 13px 0 0 89px;
}
.mainFoot {
    padding-bottom:1px;
}
.secButton {
    margin: 2px 44px 0 0;
}
.MainButtonSec {
    border-radius: 8px;
    margin-top: 16px;
    padding: 2px 15px 2px 15px;
}
.sec2Img{
    top: 44px;
}
.mainSecTitle{
    margin: 33px 0 0 435px;   
}
.mainThirdTitle {
    margin: 34px 0 0 23px;
}
.plus {
    width:26px;
}
.custPrintPancer {
    margin-left: 22px;
    margin-top: 22px;
}
.custprintNav {
    margin: 14px 0 11px;
    padding-left:1px;
}
.mainthirdTitle {
    margin: 33px 0 0 424px;
}
.thirdMainButton {
    margin: 27px 44px 0 0;
}
.MainButtonthird {
    border-radius: 8px;
    padding: 3px 32px 4px 17px;
}
.MainButtonthird img {
    right: 20px;
    top: 5px;
}
PRINT IT MEDIA KITS 

.leftMediaText {
    font-family: arial;
    font-size: 14px;
}
.rightMediaText {
    margin: 16px 0 14px 22px;
}
.rotatorMediaKitsbutton div:first-child {
    background: #68afdc;
}

.mainFooterFirstBlock {
    cursor:pointer;
    background: url("/images/DESIGN_IT.png") no-repeat scroll 14px 10px transparent;
    float:left;
    width: 309px;
    padding-right: 6px;
    height:119px;
    position: relative;
    border-radius: 8px;
    font-weight: 600;
    border:1px solid #fff;
    margin: 0 9px 0px 5px;
}

.mainFooterSecondBlock {
    cursor:pointer;
    background: url("/images/PRINT_IT.png") no-repeat scroll 15px 10px transparent;
    margin-bottom: 15px;
    float:left;
    width: 316px;
    height:119px;
    position: relative;
    display: block;
    border-radius: 10px;
    border:1px solid #fff;
    margin: 0 9px 0px 9px;

}
.mainFooterThirdBlock {
    cursor:pointer;
    background: url("/images/MAIL_IT.png") no-repeat scroll 16px 10px transparent;
    margin-bottom: 15px;
    float:left;
    width:314px;
    position: relative; 
    height:119px;
    border-radius: 10px;
    border:1px solid #fff;
    margin: 0 9px 15px 8px;
}
.buttonText {
    background: url("/images/DownloadButtonTextBg.png") repeat-x scroll 0 0 #353535;
    border-radius: 0 8px 8px 0;
    color: #FFFFFF;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    padding-top: 3px;
    padding-left: 8px;
    padding-right: 17px;
    padding-top: 3px;
}

.Apply_Button {
    background: url("/images/buttonBg.png") repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: 0px 0 0 0px;
    padding: 2px 20px;
    z-index: 10;
}

.bottom_contacts{
    background: url("/images/buttonBg.png") repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: 14px 0 0 18px;
    padding: 2px 15px;
    z-index: 10;
}

.bottom_contacts:hover{
    background: url("/images/buttonBgSel.png") repeat scroll 0 0 transparent;
    padding: 2px 15px;
}
.block_listing{
    width: 200px;
    height: 279px;
    border: 8px solid #000000;
    border-radius: 10px;
    background: #3c3c3c;
    box-shadow: 1px 1px 1px 2px rgba(33,32,31, 0.2);
    position: absolute;
    left: 295px;
    z-index: 1000;
    top: 195px;
    padding-bottom: 20px;
}

.order_confirmattion{
    width: 318px;
    height: 29px;
    background: #044d7d;
    font-size: 14px;
    color: #95b8cc;
    font-family: HelveticaNeue-BoldExt;
    margin-left: 1px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    float: left;
    position: relative;
}

.block_tabs_3{
    float: left;
    width: 318px;   
}


.Save_Button {
    background: url("/images/buttonBg.png") repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: 0px 0 0 0px;
    padding: 3px 24px;
    margin-left: 22px;
    z-index: 10;
}
.Save_Button:hover{
    background: url("/images/buttonBgSel.png") repeat scroll 0 0 transparent;
}

.opera_order_confirmattion{
    width: 319px;
}

.Reddem_Button {
    background: url("/images/buttonBg.png") repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 12px;
    z-index: 10;
    margin-top: 3px;
    margin-right: 3px;
    float: right;
}
.Reddem_Button:hover{
    background: url("/images/buttonBgSel.png") repeat scroll 0 0 transparent;
}

.nav_account li a{
    color: #000;
    font-size: 12px;
    padding-left: 15px;
    width: 167px;
    height: 22px;
    border-radius: 5px;
    display: block;
    text-decoration: none;
    background: #ebebeb;
    line-height: 22px;
}
li a.current_account{
    background: #4e9000;
    color: #fff;
    font-weight: bold;
}

.block_one_deliver_to_by:last-of-type{
    border: none;
    margin-bottom: -20px;
}
td.block_info_products{
    width: 202px;
    float: left;
    font-size: 12px;
    color: #000;
    line-height: 15px;
    padding-bottom: 19px;
}

td.block_info_deliver_to_by{
    width: 482px;
    float: left;
    margin-left: 35px;
    padding-bottom: 4px;
    font-size: 12px;
    line-height: 15px;
    color: #000;
    margin-top: 24px;
}

.block_new_card_billing_address{
    width: 356px;
    background: #ebebeb;
    min-height: 315px;
    float: right;
    margin-right: 4px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.block_new_card_payment_info{
    width: 356px;
    background: #ebebeb;
    min-height: 315px;
    float: left;
    margin-left: 4px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.block_view_card_as{
    font-size: 12px;
    color: #000;
    border-bottom: 1px dotted #666666;
    margin-top: 16px;
    float: left;
    padding-bottom: 10px;
    width: 315px;
}

.firefox_cwechin_icon{
    margin-top: 2px;
}

.left_block_content_info_mail_page{
    width: 447px;
    min-height: 370px;
    border-right: 1px dotted #666666;
    float: left;
    margin-top: 25px;
    margin-left: 30px;
}
.text_content_info_mail_page{
    float: left;
    width: 413px;
    margin-top: 5px;
    line-height: 17px;
    font-weight: normal;
}

.right_block_content_info_mail_page{
    width: 447px;
    min-height: 370px;
    float: left;
    margin-top: 25px;
    margin-left: 30px;
}

.select_size_table td{
    vertical-align: bottom;
    width: 80px;
    text-align: center;
    font-size: 12px;
    color: #fff;
}

.firefox_last_list{
    margin-left: 10px;
}

.border_top_left_print{
    display: none;
}

.border_top_right_print{
    display: none;
}

.border_bottom_right_print{
   display: none;
}

.border_bottom_left_print{
   display: none;
}

.Submit_Button {
    background: url("/images/buttonBg.png") repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: 3px 0 0 0px;
    padding: 3px 16px;
    z-index: 10;
}