body{
    color: #000;
    font-size: 12px;
    line-height: 23px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clear{
    clear: both;
}
header{
    margin-bottom: 20px;
}
.invoice{
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 27px;
    text-align: right;
    padding-top: 9px;
}
.inv_page{
    font-style: italic;
    font-size: 11px;
    display: block;
    text-transform: lowercase;
    margin-top: -4px;
    font-weight: bold;
}
.table_head{
     line-height: 22px; background: #E0F2BC; padding: 4px 8px;
}
td.inn_table{
    padding: 6px 14px;
}
.title_col{
    float: left;
    width: 80px;
    display: block;
}
.descr_col{
    float: left;
    width: 180px;
}
.tab_sec_pad td{
    padding: 4px 14px;
    font-size: 11px;
}
.tab_sec_pad{
    font-weight: bold;
}
.main_h{
    width: 670px; padding-left: 30px; padding-top: 30px;
}
.po_box{
    padding-top: 66px; padding-left: 30px; line-height: 14px; font-size: 11px;
}
.ink_req{
    line-height: 22px; padding: 10px 10px;height: 100px;
}
.dtraub{
    line-height: 22px; padding: 10px 10px;height: 100px;
}
.purpl{
    color: #ED1F9A; font-size: 10px;
}
.trans_rec{
    text-align: right; font-size: 14px; font-weight: bold;
}
.date_time{
    padding-right: 10px; font-weight: bold; padding-top: 12px;
}
.time_est_tab{
    font-size: 10px; margin-top: 6px;
}
.time_est{
    padding: 4px 10px; text-align: right;
}
.tab2{
    font-size: 11px; margin-top: 10px
}
.continue{
    text-align: right; margin: 2px 0 5px 0;
}
.continue em{
    font-size: 12px; color: #425822;
}
.nomarg{
    border: none; margin: 0;
}
.receiv{
    padding-right: 14px; vertical-align: top; font-size: 10px;
}
.today_pay{
    padding-right: 14px;color: #EC008C; padding-top: 6px; font-size: 10px;
}
.pin{
    color: #EC008C;
}
.pin_col1{
    color: #EC008C; padding-top: 12px;
}
.pin_col2{
    color: #EC008C; padding-top: 12px
}